<ion-view view-title="Biz Kimiz ? ">
  <ion-content class="padding about_us main_bg">
       <div class="logo">
         <img src="img/logo.png"/>
       </div>
       <h3 class="main_color">My road application</h3>
       <p class="note">allow you to get the perfect way to get your destination and get a live shoots from the road case</p>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      
   

      <div class="social_media">
            <span class="cir"><i class="ion-social-facebook"></i></span>
            <span class="cir"><i class="ion-social-twitter"></i></span>
      </div>
  </ion-content>
</ion-view>
