<ion-view view-title="contact us">
  <ion-content class="padding contact_us main_bg">
        <div class="list">
            <span>Enter Your Name</span>
            <label class="item item-input">
                <input type="text">
            </label>
            
            <span>Your Email Address</span>
            <label class="item item-input">
                <input type="email">
            </label>
            
            <span>Enter a Subject</span>
            <label class="item item-input">
                <input type="text">
            </label>
            
            <span>Type Message Here</span>
            <label class="item item-input">
                <textarea rows="8"></textarea>
            </label>
            <a href="#/register" class="button button-block main_btn bg_color">Submit</a>
        </div>
  </ion-content>
</ion-view>