<ion-view view-title="Fırsatlar" cache-view="false">
    <ion-content  scroll="true" class="padding">
        
        <div class="list">

          <a class="item item-thumbnail-left item-opp" href="javascript:void(0)">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Maiden_tower.JPG/240px-Maiden_tower.JPG">
            <h2 class="opportunity">Kız Kulesi Marina'da Kayhvaltı Keyfi</h2>
            <p class="opportunity">Kız Kulesi Marina'da deniz esintileriyle güneşli bir havada sizde sevdiklerinizle kahvaltıya varmısınız ?</p>
            <div class="row">
              <div class="col col-50"> 

                 <ion-item class="item-text-wrap home-item opportunity-item-top">
                        <i class="icon ion-clock icon-home-time"></i>
                        7 gün
                  </ion-item>      

              </div>
              <div class="col col-50">
                <ion-item class="item-text-wrap opportunity-item opportunity-item">
                    <i class="icon ion-ios-pricetag icon-home-time"></i>
                        15 TL
                </ion-item>  
               </div>
            </div>

           <div class="right-opp"> <i class="icon ion-android-more-vertical"  ng-click="showActionsheet()"></i> </div>
          </a>

          <a class="item item-thumbnail-left item-opp" href="javascript:void(0)">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Maiden_tower.JPG/240px-Maiden_tower.JPG">
            <h2 class="opportunity">Kız Kulesi Marina'da Kayhvaltı Keyfi</h2>
            <p class="opportunity">Kız Kulesi Marina'da deniz esintileriyle güneşli bir havada sizde sevdiklerinizle kahvaltıya varmısınız ?</p>
            <div class="row">
              <div class="col col-50"> 

                 <ion-item class="item-text-wrap home-item opportunity-item-top">
                        <i class="icon ion-clock icon-home-time"></i>
                        7 gün
                  </ion-item>      

              </div>
              <div class="col col-50">
                <ion-item class="item-text-wrap opportunity-item opportunity-item">
                    <i class="icon ion-ios-pricetag icon-home-time"></i>
                        15 TL
                </ion-item>  
               </div>
            </div>
            
           <div class="right-opp"> <i class="icon ion-android-more-vertical"  ng-click="showActionsheet()"></i> </div>
          </a>


      </div>

             
    </ion-content>

     <ion-tabs class="tabs-positive tabs-icon-top">
          <ion-tab title="Son Eklenenler" icon-on="ion-ios-list-outline" icon-off="ion-aperture" ng-click="goto('home')">       
          </ion-tab>
          <ion-tab title="Etrafındakiler" icon-on="ion-ionic" icon-off="ion-ionic" ng-click="goto('environment')">   
          </ion-tab>
          <ion-tab title="Fırsatlar" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" ng-click="goto('global')">
          </ion-tab>
     </ion-tabs>

</ion-view>
 
