<div class="list">


    <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <input type="password" ng-model="data.pass" placeholder="Eski Şifre">
          </label>
    <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <input type="password" ng-model="data.new_pass" placeholder="Yeni Şifre">
          </label>
    <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <input type="password" ng-model="data.confirm_pass" placeholder="Yeni Şifre Tekrar">
          </label>
</div>