<ion-view view-title="{{task_detail.task_tittle}}">
  <ion-content class="bg_white profile_data task_details">

  <div class="row header-top">


         <ion-list class="street_list header-list">
            <ion-item class="detail-item">
               <div class="row">

                  <img id="profile-image" src="img/profile.png"><!-- data-ng-src="data:image/jpg;base64,{{imgurl}}" -->

                  <div class="price_tag">{{task_detail.budget}} ₺ </div>

                  <div class="col  bg_color5">
                      <h3 class="main_color main-list-item">{{task_detail.task_tittle}}</h3>
                      <p class="text-back">{{task_detail.short_description}}</p> 
                  </div>
               </div>

               <div class="row item-sub">

                   <div class="col col-80">
                    <ion-item class="item-text-wrap home-item">
                          <i class="icon ion-clock icon-home-time"></i>
                         {{backTime}} Kaldı.
                    </ion-item>
                   </div> 

                    <div class="col col-20 right-home-list ">
                    <ion-item class="item-text-wrap home-item">
                         <i class="icon ion-ios-people icon-home-time"></i>
                        {{task_detail.people}} 
                    </ion-item>
                   </div> 

               </div>

            </ion-item>
       </ion-list>


  </div>


  <div class="padding">

    <div class="header-content">
        {{task_detail.explanation}}
    </div>


   <div class="task-detail-criter " ng-show="criter_result">
        <div ng-repeat="criter in criters" class="criters">
                <div class="criter-title"> {{criter.criterion_heading}} </div>
                <div class="criter-desc"> {{criter.criterion_content}}  </div>
                <div class="criter-budget"> {{criter.budget}}  ₺ 
                <br>
               

                </div>
        </div>
    </div>



    <div class="row">
        <button class="button button-block main_btn button-balanced icon-left ion-flag" ng-click="startTask()" ng-hide="task_result">Göreve Başla</button>
    </div>

    <div class="row">
         <button class="button button-block main_btn button-assertive icon-left ion-flag"  ng-show="task_result=='2'">Görevi İsteği Gönderildi</button>
    </div>

    <div class="row">
        <button class="button button-block main_btn button-assertive icon-left ion-flag" ng-click="finishTask()" ng-show="task_result=='1'">Görevi Bırak</button>
    </div>

   <div class="row">
        <button class="button button-block main_btn button-balanced icon-left ion-flag" ng-click="taskSend()" ng-show="task_result=='1'">Görevi Gönder</button>
    </div>

    <div class="row">
         <button class="button button-block main_btn button-energized icon-left ion-ionic" ng-click="goEnv()">Çevrendeki Diğer Görevler</button>
    </div>




    </div>

   <!-- <div class="task-detail-timer row">  
        <div class="col col-20"><i class="ion-ios-stopwatch"></i> </div>
        <div class="col col-80"> {{backTime}} </div>
    </div>

    
    <div class="ion-list">                
        <label class="item item-input">
            <span class="input-label sec_bg">Başlangıç Tarihi</span>
            <span class="input-label sec_bg">{{task_detail.start_date}}</span>
            <span class="input-label sec_bg">{{task_detail.start_time}}</span>
        </label>
        <label class="item item-input">
            <span class="input-label sec_bg">Bitiş Tarihi</span>
            <span class="input-label sec_bg">{{task_detail.finish_date}}</span>
            <span class="input-label sec_bg">{{task_detail.finish_time}}</span>
        </label>
    </div>
    -->




  </ion-content>


</ion-view>
